<a href="https://colab.research.google.com/github/ffedox/metadata_extraction/blob/main/hypal_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import textwrap
import re

In [29]:
excel_path = input('Enter the path of the file "hypal_search_export_w-metadata.xlsx": ')
df = pd.read_excel(excel_path, index_col=0)

Enter the path of the file "hypal_search_export_w-metadata.xlsx": /content/hypal_search_export_w-metadata.xlsx

In [30]:
# Converting document_id from index to column

df['document_id'] = df.index
df = df.reset_index(drop=True)

# Moving document_id to the beginning of the dataframe

first_column = df.pop('document_id')
df.insert(0, 'document_id', first_column)

# Storing the TT and the ST in a separate dataframe

df2 = pd.DataFrame()
df2['ST segment'] = df['ST segment']
df2['TT segment'] = df['TT segment']

# Keeping only metadata in the first dataframe

df = df.drop('ST segment (formatted)', axis=1)
df = df.drop('TT segment (formatted)', axis=1)
df = df.drop('ST segment', axis=1)
df = df.drop('TT segment', axis=1)

In [31]:
df

,document_id,student_id,student_gender,student_age,student_mother_tongues,student_mother_tongue,student_mother_tongue_1,student_mother_tongue_2,student_foreign_language_1,student_foreign_language_2,...,other_genre,specialized_language_domain,specialized_language_genre,academic_prose_subgenre,instructional_text_subgenre,promotional_text_subgenre,annual_report_subgenre,keyword1,keyword2,keyword3
0,doc6449,2564,Female,21,1 mother tongue,fr_FR,None,None,en,it,...,None,None,None,None,None,None,None,migration,human rights,Australia
1,doc6602,2572,Female,21,1 mother tongue,it_IT,None,None,en_GB,fr_FR,...,None,None,None,None,None,None,None,migration,human rights,Australia
2,doc6484,2575,Female,20,2 mother tongues,None,gsw,rm,it,fr,...,None,None,None,None,None,None,None,migration,human rights,Australia
3,doc6503,2551,Male,20,2 mother tongues,None,es_ES,ca_ES,de,it,...,None,None,None,None,None,None,None,migration,human rights,Australia
4,doc6449,2564,Female,21,1 mother tongue,fr_FR,None,None,en,it,...,None,None,None,None,None,None,None,migration,human rights,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,doc6838,2731,Female,26,2 mother tongues,None,it,en,es,fr,...,None,None,None,None,None,None,None,migration,human rights,Australia
212,doc6840,2725,Male,23,1 mother tongue,it_IT,None,None,en,fr,...,None,None,None,None,None,None,None,migration,human rights,Australia
213,doc6841,2724,Female,23,1 mother tongue,it,None,None,es,en,...,None,None,None,None,None,None,None,migration,human rights,Australia
214,doc6842,2721,Female,23,1 mother tongue,it_IT,None,None,en,es,...,None,None,None,None,None,None,None,migration,human rights,Australia
215,doc6527,2587,Female,25,1 mother tongue,it_IT,None,None,es_ES,en_GB,...,None,None,None,None,None,None,None,migration,human rights,Australia

In [32]:
df2

,ST segment,TT segment
0,"Reports indicate detainees , including wo...",[REG-FML] [mark] Dei [/mark] [/REG-FML] rap...
1,This violence is a consequence of Austra...,Questa violenza è la [MT-DIS] [mark] caus...
2,"Reports indicate detainees , including wo...","I report indicano che i detenuti , [MT-..."
3,This situation is perhaps best embodied ...,Questa situazione è forse [MT-DIS] [mark] ...
4,Winning a literary award wo n't set you...,Vincere un premio letterario [GR-WOR] [mar...
...,...,...
211,Boochani 's determination to survive and ...,La determinazione di Boochani a sopravviv...
212,Boochani 's determination to survive and ...,La determinazione di Boochani a sopravviv...
213,Boochani 's determination to survive and ...,La determinazione di Boochani a sopravviv...
214,Boochani 's determination to survive and ...,La determinazione di Boochani a sopravviv...
215,Boochani 's determination to survive and ...,La determinazione di Boochani a sopravviv...

In [33]:
selected_tags = []

def select_tags(selected_tags):

  options = []
  options_without_formatting = []

  col_option = 0

  for col in df.columns.values.tolist():
    col_string = '[' + str(col_option) + ']' + ' ' + col
    col_option += 1
    options.append(col_string)
    options_without_formatting.append(col)

  options_str = ' '.join(options)

  print ('\n')

  print(textwrap.fill(options_str, 160))

  print('\n')

  x = list(map(int, input('Select metatags (only numbers, separated by whitespace): ').split()))

  opts = []
  opts_without_formatting = []

  for num in x:
    opts.append(options[num])
    selected_tags.append(options_without_formatting[num])
  
  ops_str = ' '.join(opts)

  print('\n')

  print('Selected metatags: ' + ops_str)

In [34]:
select_tags(selected_tags)

[0] document_id [1] student_id [2] student_gender [3] student_age [4] student_mother_tongues [5] student_mother_tongue [6] student_mother_tongue_1 [7]
student_mother_tongue_2 [8] student_foreign_language_1 [9] student_foreign_language_2 [10] student_foreign_language_3 [11]
student_main_language_primary_school_1 [12] student_main_language_primary_school_2 [13] student_main_language_secondary_school_1 [14]
student_main_language_secondary_school_2 [15] student_main_language_university_1 [16] student_main_language_university_2 [17] student_main_language_university_3
[18] student_current_study_background [19] student_prior_study_background [20] student_sl_proficiency [21] student_sl_years_studying [22]
student_sl_countries_stays [23] student_sl_countries_months [24] student_tl_proficiency [25] student_tl_years_studying [26] student_tl_countries_stays [27]
student_tl_countries_months [28] student_semesters_studying_translation [29] student_translation_internships [30] student_translation_internships_duration [31]
student_experience_with_cat [32] task_student_sl_status [33] task_student_tl_status [34] task_student_duration [35] task_student_tools_resources [36]
task_student_feedback_before_submission [37] task_student_feedback_type_before_submission [38] task_student_revision [39] task_student_feedback_before_first
[40] task_student_feedback_type_before_first [41] task_student_feedback_before_revised [42] task_student_feedback_type_before_revised [43] student_status [44]
level [45] target_language [46] type_of_task [47] marking [48] duration [49] duration_minutes [50] tools_and_resources [51] revision [52] translation_brief_used
[53] translation_brief_requester_specified [54] translation_brief_requester [55] translation_brief_audience_specified [56] translation_brief_audience [57]
translation_brief_communicative_purpose_specified [58] translation_brief_communicative_purpose [59] translation_brief_format_specified [60]
translation_brief_format [61] translation_brief_layout_and_guide [62] translation_brief_use_glossaries [63] translation_brief_use_memories [64]
translation_brief_file_available [65] translation_brief_additional_info [66] whole_text_available [67] language [68] sampling [69] title_full_text [70]
sample_position [71] author_type [72] author_name [73] author_speaker_status [74] authors_names [75] authors_speaker_status [76] corporate_author_name [77]
length_words [78] language_type [79] general_language_type [80] publication_status [81] publication_date [82] publication_reference [83] publication_url [84]
publication_format [85] publication_format_subtype [86] mode [87] target_audience [88] communicative_purpose [89] st_translation_status [90]
reference_translation [91] reference_translator_status [92] reference_translation_directionality [93] reference_translation_target_language [94]
reference_translation_publication [95] title_segment [96] journalistic_texts_genre [97] opinion_article_subgenre [98] review_subgenre [99] fiction_genre [100]
other_genre [101] specialized_language_domain [102] specialized_language_genre [103] academic_prose_subgenre [104] instructional_text_subgenre [105]
promotional_text_subgenre [106] annual_report_subgenre [107] keyword1 [108] keyword2 [109] keyword3


Select metatags (only numbers, separated by whitespace): 0 1 2


Selected metatags: [0] document_id [1] student_id [2] student_gender

In [35]:
all_tags = df.columns.values.tolist()
tags_to_remove = [x for x in all_tags if x not in selected_tags]
df = df.drop(columns=tags_to_remove)

In [36]:
df

    document_id  student_id student_gender
0       doc6449        2564         Female
1       doc6602        2572         Female
2       doc6484        2575         Female
3       doc6503        2551           Male
4       doc6449        2564         Female
..          ...         ...            ...
211     doc6838        2731         Female
212     doc6840        2725           Male
213     doc6841        2724         Female
214     doc6842        2721         Female
215     doc6527        2587         Female

[216 rows x 3 columns]

In [37]:
# create an empty list to hold the xml strings
xml_strings = []

# iterate through each row of df2
for i, row in df2.iterrows():
    # get the value in the TT segment column
    tt_segment = row['TT segment']
    
    # create the xml string
    xml_string = '<doc '
    
    # iterate through each column of df
    for col in df.columns:
        # get the value in the corresponding row and column of df
        val = str(df.loc[i, col])
        
        # append the column name and value to the xml string
        xml_string += col + '="' + val + '" '
    
    # close the xml tag and append the TT segment text
    xml_string += '>' + tt_segment + '</doc>'
    
    # append the xml string to the list
    xml_strings.append(xml_string)

# replace the content of the TT segment column with the xml column
df2['TT segment'] = xml_strings

In [38]:
df2

,ST segment,TT segment
0,"Reports indicate detainees , including wo...","<doc document_id=""doc6449"" student_id=""2564"" s..."
1,This violence is a consequence of Austra...,"<doc document_id=""doc6602"" student_id=""2572"" s..."
2,"Reports indicate detainees , including wo...","<doc document_id=""doc6484"" student_id=""2575"" s..."
3,This situation is perhaps best embodied ...,"<doc document_id=""doc6503"" student_id=""2551"" s..."
4,Winning a literary award wo n't set you...,"<doc document_id=""doc6449"" student_id=""2564"" s..."
...,...,...
211,Boochani 's determination to survive and ...,"<doc document_id=""doc6838"" student_id=""2731"" s..."
212,Boochani 's determination to survive and ...,"<doc document_id=""doc6840"" student_id=""2725"" s..."
213,Boochani 's determination to survive and ...,"<doc document_id=""doc6841"" student_id=""2724"" s..."
214,Boochani 's determination to survive and ...,"<doc document_id=""doc6842"" student_id=""2721"" s..."
215,Boochani 's determination to survive and ...,"<doc document_id=""doc6527"" student_id=""2587"" s..."

In [39]:
# Regex

regex1 = '\[\/mark\] \[mark\]'
df2['TT segment'] = df2['TT segment'].apply(lambda x: re.sub(regex1, '', x))

regex2 = '\[\/mark\]'
df2['TT segment'] = df2['TT segment'].apply(lambda x: re.sub(regex2, '</mark>', x))

regex3 = '\[mark\]'
df2['TT segment'] = df2['TT segment'].apply(lambda x: re.sub(regex3, '<mark>', x))

regex4 = '\] <'
df2['TT segment'] = df2['TT segment'].apply(lambda x: re.sub(regex4, '> <', x))

regex5 = '\]'
df2['TT segment'] = df2['TT segment'].apply(lambda x: re.sub(regex5, '>', x))

regex6 = '\[\/'
df2['TT segment'] = df2['TT segment'].apply(lambda x: re.sub(regex6, '</', x))

regex7 = '\['
df2['TT segment'] = df2['TT segment'].apply(lambda x: re.sub(regex7, '<', x))

regex8 = '\-'
df2['TT segment'] = df2['TT segment'].apply(lambda x: re.sub(regex8, '_', x))

In [40]:
df2

,ST segment,TT segment
0,"Reports indicate detainees , including wo...","<doc document_id=""doc6449"" student_id=""2564"" s..."
1,This violence is a consequence of Austra...,"<doc document_id=""doc6602"" student_id=""2572"" s..."
2,"Reports indicate detainees , including wo...","<doc document_id=""doc6484"" student_id=""2575"" s..."
3,This situation is perhaps best embodied ...,"<doc document_id=""doc6503"" student_id=""2551"" s..."
4,Winning a literary award wo n't set you...,"<doc document_id=""doc6449"" student_id=""2564"" s..."
...,...,...
211,Boochani 's determination to survive and ...,"<doc document_id=""doc6838"" student_id=""2731"" s..."
212,Boochani 's determination to survive and ...,"<doc document_id=""doc6840"" student_id=""2725"" s..."
213,Boochani 's determination to survive and ...,"<doc document_id=""doc6841"" student_id=""2724"" s..."
214,Boochani 's determination to survive and ...,"<doc document_id=""doc6842"" student_id=""2721"" s..."
215,Boochani 's determination to survive and ...,"<doc document_id=""doc6527"" student_id=""2587"" s..."

In [42]:
df2 = df2.rename(columns={"ST segment": "English", "TT segment": "Italian"})

In [43]:
def yes_or_no(question):
  
    print('\n')
    reply = str(input(question+' (yes/no): ')).lower().strip()
    if reply[0] == 'y':
        print('\n')
        print('Exported to Excel.')
        return df2.to_excel('hypal_with_metadata.xlsx')
    if reply[0] == 'n':
        pass
    else:
        pass

yes_or_no('Export to Excel?')

Export to Excel? (yes/no): y


Exported to Excel.